<header>
    <nav class="nav-bar">
        <div class="nav-logo">
            <img class="logo" src="images/logo.png" alt="Logo">
            <p>
                CardPen
            </p>
        </div>
        <ul class="nav-elements">
            <li class="menu"> <a href="index.html">Home</a> </li>
            <li class="menu"> <a href="explore.html">Explore</a> </li>
            <li class="menu"> <a href="notice.html">Notice</a> </li>
            <li class="menu"> <a href="contact.html">Contact Us</a> </li>
            <li class="menu"> <a href="account.html">Account</a> </li>
        </ul>
    </nav>
</header>