<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <article class="page-description">
      <p id="text1">
        Supply <br />
        Chain
      </p>
      <p id="text2">&</p>
      <p id="text3">
        Management <br />
        System
      </p>
    </article>

    <div class="title">
      <h1>Dive</h1>
      <h1>come</h1>
    </div>

    <div class="center">
      <span class="p">Register or Login to our website to continue browsing with us smoothly</span>

      <p>
        &bull;Create a free account to unlock your own block chain<br />
        &bull;Check various sections of the website for interesting visuals<br />
        &bull;The site is currently under development,<br />Listed below are some features of out website:<br />
      </p>

      <a class="login" href="register.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>

      <a class="login" href="register.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Register
      </a>

      <ul class="ideas">
        <li>Manufacture to retail pipeline</li>
        <li>Tracking of parcels</li>
        <li>&</li>
        <li>Comfortable pricings for buyers to choose from</li>
      </ul>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
