<!DOCTYPE html>

<head>
    <title>ZENO Entry</title>
    <link rel="stylesheet" href="../public/css/index2.css">
</head>

<body>
    <nav>
        <ul>
            <li><span><a href ="/login-page">LOGIN</a></span></li>
            <li><span><a href ="/signup">SIGN UP</a></span></li>
        </ul>
      </nav>
</body>

</html>