<!DOCTYPE html>
<html>
<head>
    <title>All Accounts Login</title>
	<link rel="stylesheet" href="css/index4.css">
</head>

<body>
    <nav>
        <ul>
            <!-- <li><span><a href ="http://127.0.0.1:5500/ZENO/files/Raw_login.html">Raw Material</a></span></li> -->
            <!-- <li><span><a href ="http://127.0.0.1:5500/ZENO/files/S_login.html">Supplier</a></span></li> -->
            <li><span><a href ="/signup-manufacturer">Manufacturer</a></span></li>
            <li><span><a href ="/signup-distributor">Distributor</a></span></li>
            <li><span><a href ="/signup-retailer">Retailer</a></span></li>
            <li><span><a href ="/signup-customer">Customer</a></span></li>
        </ul>
      </nav>
</body>

</html>