<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script defer src="../public/js/index.js"></script>
    <style>
        
    </style>
</head>
<body>
    <nav class="top-right open">
        <a class="disc l1">
            <div></div>
        </a>
        <a class="disc l2">
            <div></div>
        </a>
        <a class="disc l3">
            <div></div>
        </a>
        <a class="disc l4">
            <div></div>
        </a>
        <a class="disc l5 toggle" href="/index2">
            ZENO
        </a>
    </nav>
</body>
</html>