<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <main>
        <div class="container">

            <div class="status box">
                <div class="span-wrapper">
                    <span class="span span-transition">Status</span>
                </div>

                <ul>
                    <li>Currectly under development.</li>
                    <li>Limited reach, no marketing and advertisement</li>
                    <li>Github associated, public project</li>
                    <li>HTML & CSS, major.</li>
                    <li>Furious adaptaions and changes every now and then.</li>
                </ul>
            </div>

            <div class="about box">
                <div class="span-wrapper">
                    <span class="span span-transition">About</span>
                </div>
                <ul>
                    <li>Social media inspired.</li>
                    <li>Project towards fulfulling college curriculum needs.</li>
                    <li>Developed and managed by Jamil Shaikh,<br>Gaurav Redkar,and Smit Sardhara.</li>
                    <li>Project initiated on 2nd Oct, 2021.</li>
                    <li>Motivation from Code With Harry.</li>
                </ul>
            </div>

            <div class="future box">
                <div class="span-wrapper">
                    <span class="span span-transition">Future Work</span>
                </div>
                <ul>
                    <li>Implementaion of online Diary entry interface.</li>
                    <li>Cube representaion of virtual card.</li>
                    <li>Exteremly responsive and well animated touches.</li>
                    <li>Various AI processing for seamless performance.</li>
                    <li>Social media exposure movement.</li>
                </ul>
            </div>

        </div>

    </main>
    <%- include('partials/footer') %>
  </body>
</html>
