<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing.css">
    <title>Healthcare- Get started</title>
</head>
<body>
    
    <main>
        <article class="page-description">
            <p id="text1">
                Experience <br> Animation
            </p>
            <p id="text2">
                &
            </p>
            <p id="text3">
                So Much <br> More With <br> Us
            </p>
        </article>
        <section>
            <div class="container">
                <div class="card" id="box1" style="--i:1;">
                    <div class="content" style="--j:2;">
                        <div class="imagebox"><img src="CSS/images/profile.png" alt=""></div>
                        <br><br>
                        <div class="content_box">
                            <h3>Smit</h3>
                        </div>
                    </div>
                </div>
                <div class="card" id="box2" style="--i:0;">
                    <div class="content" style="--j:1;">
                        <div class="imagebox"><img src="CSS/images/profile.png" alt=""></div>
                        <br><br>
                        <div class="content_box">
                            <h3>Jamil</h3>
                        </div>
                    </div>
                </div>
                <div class="card" id="box3" style="--i:-1;">
                    <div class="content" style="--j:0;">
                        <div class="imagebox"><img src="CSS/images/profile.png" alt=""></div>
                        <br><br>
                        <div class="content_box">
                            <h3>Gaurav</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title">

                <h1>Dive</h1>
                <h1>come</h1>

            </div>

            <div class="float float-box">
                <div class="prop">
                    <div class="platform"></div>
                    <div class="platform"></div>
                    <div class="platform"></div>
                    <div class="platform">
                        A Quick Welcome Note, Enjoy Your Time Here.
                    </div>
                </div>
            </div>
            <div class="center">

                <span class="p">Create your first card and see how it turns out!</span>


                <p>&bull;Create a free account to unlock your own Card Editor<br>
                    &bull;Check various sections of the website for interesting visuals<br>
                    &bull;The site is currently under development,<br>we plan on adding various more fields to this
                    site.
                    <br>Few of them are listed below:<br>
                </p>

                <a class="login" href="register.html">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Get Started
                </a>
               
                <ul class="ideas">
                    <li>Online Diary Entry Kit</li>
                    <li>The Zodiac Card</li>
                    <li>&</li>
                    <li>More</li>
                </ul>

            </div>



        </section>
    </main>
    <footer>
        Copyright &copy; CardPen
    </footer>
</body>
</html>
