<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Asset</title>
    <link rel="stylesheet" href="css/tracking.css">
</head>
<body>
    <form action="/asset-tracking-page" method="get">
        <input type="text" name = "CertificateID">
        <input type="submit" value="Submit">
    </form>

    <div>
        <h2> <img src="https://cdn-icons-png.flaticon.com/512/172/172150.png" alt="" width="30px"> Tracking of Asset </h2>
            <% if ("asset" in Data && Data.asset.length == 0) {%>
                <h3>No stock present</h3>  
                <% } %>
            <div class = "box">
                    <% if (Data.asset) { for (const request of Data.asset) { %>
                        <div class="card">
                            <div class = "container">
                                <form action="/digichambers/approve-reject-request" method="get">
                                    <% if (request != {}) { %>
                                        <label for="country"> Operation :</label>
                                        <input type="text" name="Owner" readonly value= <%= request.Operation %> ><br><br>
                                        <label for="country"> From :</label>
                                        <input type="text" name="From" readonly value= <%= request.From %> ><br><br>
                                        <label for="country"> To :</label>
                                        <input type="text"  name="To" readonly value= <%= request.To %> ><br><br>
                                    <% } %>
                                </form>
                            </div>
                        </div>
                <% } } %>
            </div>
    </div>


    <div>
        <img id = "bg" src="https://uploads-ssl.webflow.com/60edc0a8835d5b38bf11f03f/61cf04c6b9b698be148447b9_Useful-Asset-Tracking-Tips.jpeg" alt="">
    </div>
</body>
</html>