body{
    background-image: var(--flow);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    animation: flow 20s infinite alternate;
}

@keyframes flow {
    0%{
        background-position: left;
    } 100% {
        background-position: right;
    }
}
.card {
    /* Add shadows to create the "card" effect */
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.45s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.card {
    margin: 10px;
}

.container input {
    border: none;
}

#popup div {
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

#popup div p {
    display: inline;
    margin-right: 20px;
}

li {
    list-style-type: none;
    text-align: center;
}

h2, h3 {
    text-align: center;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#profimag {
    width: 40px;
}

.profile {
    padding: 10px 0;
    box-shadow: #4CAF50;
    width: 100%;
    background-color: #ffffff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=submit] {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

#bg {
    position: absolute;
    right: 0px;
    bottom: 0px; 
    z-index: -1;   
}